<div style="width:100%; float:left; margin-top: 30px">
  <form name="addCartForm" class="form-horizontal" novalidate>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="auxPacketNo">Product: </label>
        <label style="color:#a94442;font-size:18px">*</label>
      </div>
      <div class="col-sm-8">
      <select ng-model="selectedProduct" ng-options="x.product_name for x in products">
      </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="auxPacketNo">Packet No </label>
        <label style="color:#a94442;font-size:18px">*</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="auxPacketNo" name="auxPacketNo" ng-model="auxPacketNo"
               placeholder="Number of Packets" required ng-pattern="/^[a-zA-Z0-9_\-\n\r ]*$/" ng-maxlength="100"/>
      </div>

    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="auxProductNo">Product No </label>
        <label style="color:#a94442;font-size:18px">*</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="auxProductNo" name="auxProductNo" ng-model="auxProductNo"
               placeholder="Number of Products" required ng-pattern="/^[a-zA-Z0-9_\-\n\r ]*$/" ng-maxlength="100"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="btn btn-success" ng-click="addCart(addCartForm.$valid)">SAVE</button>
      </div>
    </div>

  </form>


</div>
